<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Contact page</h5>
            <p class="card-text">Create the datagroup, datafields, a simple form and a page. So your visitor can leave a message and lookup the address.</p>
        </div>
        <div class="card-footer ">
            <a href="admin/install/contact/create" class="card-link">Create contact page</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Homepage</h5>
            <p class="card-text">Create the datagroup, datafields and a page. So your site has a homepage.</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/homepage/create" class="card-link">Create a homepage</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add a Logo</h5>
            <p class="card-text">Upload a image to use as logo. The logo is displayed on the logo position</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/logo/create" class="card-link">Create logo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <p class="card-text">Pick some pages to display in a menu. The menu is displayed on the menu position</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/menu/create" class="card-link">Create menu</a>
        </div>
    </div>
    <div class="w-100 d-none d-lg-block mb-4"><!-- wrap every 4 on lg--></div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Newsletter</h5>
            <p class="card-text">Create all newsletter elements</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/newsletter/create" class="card-link">Create newsletter</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Content tagging</h5>
            <p class="card-text">Create content tagging elements. Also create contentpage datagroups and fields if they do not exist.</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/tagging/create" class="card-link">Create content tagging</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Webshop</h5>
            <p class="card-text">Create all webshop elements</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/shop/create" class="card-link">Create webshop</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Webshop affiliate</h5>
            <p class="card-text">Create all affiliate system for your webshop</p>
        </div>
        <div class="card-footer">
            <a href="admin/install/affiliate/create" class="card-link">Create webshop affiliates</a>
        </div>
    </div>
    <div class="w-100 d-none d-lg-block mb-4"><!-- wrap every 4 on lg--></div>
    {{#menuItems}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{{text}}}</p>
            </div>
            <div class="card-footer">
                <a href="{{link}}" class="card-link">{{link-text}}</a>
            </div>
        </div>
    {{/menuItems}}
</div>